body {
    margin: 0;
    padding: 0;
    background-color: rgb(72,153,242);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: 0;
}
canvas {
    background-color: rgba(180, 180, 180);
    margin-top: 50px; 
    margin-bottom: 50px; 
    position: absolute;
    border: 1px solid black;
}
button {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: gray;
    color: white;
    font-size: 30px;
    top: 50%; /* 부모 컨테이너 기준으로 50% 위치 */
    left: 50%; /* 부모 컨테이너 기준으로 50% 위치 */
    transform: translate(-50%, -50%); /* 버튼의 중앙이 정확히 컨테이너의 중앙에 오도록 설정 */
    z-index: 10; /* 캔버스 위에 버튼이 오도록 설정 */
}
#text{
    font-size: 80px;
    position: absolute;
    top: 40%; /* 부모 컨테이너 기준으로 50% 위치 */
    left: 50%; /* 부모 컨테이너 기준으로 50% 위치 */
    transform: translate(-50%, -50%); /* 버튼의 중앙이 정확히 컨테이너의 중앙에 오도록 설정 */
    z-index: 10;
}
button:hover {
    background-color: #fdd; /* 마우스 오버 시 살구색 */
}
button:active {
    background-color: rgb(9, 3, 66); /* 클릭 시 파란색 */
}